<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Example tomboy project" />
    <meta name="keywords" content="tomboy, django" />

    <title>Example tomboy project</title>
    <!--<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/style.css?v=49" />-->
    
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    {% block content %}{% endblock %}
</body>
</html>